:root {
    --main-bg: #3081B4;
    --secondary-bg: #19488C;
    --primary-blue: #44A2E5;
    --secondary-blue: #2E7EC2;
    --button-yellow-1: #F7CB40;
    --button-yellow-2: #DDAD1C;
    --text-yellow: #FACB46;
    --text-white: #ffffff;
    --shadow-yellow-light: #FFEEBA;
    --shadow-yellow-dark: #7A5D00;
    --shadow-blue: #BEE3FF;
    --border-blue: #7DD0FF;
    --icon-blue: #58b4ff;
    --background-blue: #0652b1;
    --level-grey: #b2d0f7;


    --main-gradient: radial-gradient(var(--main-bg), var(--secondary-bg));
    --inner-gradient: linear-gradient(var(--main-bg), var(--secondary-bg));
    --gradient-button-1: linear-gradient(to right, var(--button-yellow-1), var(--button-yellow-2));
    --gradient-button-2: linear-gradient(to right, var(--primary-blue), var(--secondary-blue));


    --text-shadow: 1px 1px 2px #000;
}